/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

body {
  background-color: lightblue;
  font-family: cursive;
  /*text-align: center;*/
}

#cs1300-gallery {
  background-color: lightblue;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  min-width: 200px;
  max-width: 25%;
  align-self: center;
  margin: 2%;
  /*max-height: 30vh;*/
}

h1 {
  text-align: center;
  font-size: 5vw;
  margin-top: 10vh;
}

button {
  display: block;
  margin: 5vh auto;
  padding: 2vh;
  font-size: 3vw;
  border-radius: 1vh;
  border-width: 0;
  background-color: cornflowerblue;
}
button:active {
  background-color: blue;
}
button:hover {
  background-color: dodgerblue;
}

ul {
  width: 10vw;
  margin: auto;
}
